@model IEnumerable<DomainModel.Packet>
@{

}

<div class="p-2">
    <button type="button" onclick="location.href='@Url.Action("Reserved", "Packet")'">Reserved</button>
    <button type="button" onclick="location.href='@Url.Action("List", "Packet")'">Packets</button>
    @foreach (DomainModel.Packet r in Model!) {
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-2 col-sm-12">
                    <img class="img-fluid" alt="packet image" src="https://media.istockphoto.com/id/1147544807/fr/vectoriel/pas-image-miniature-graphique-vectoriel.jpg?s=612x612&w=is&k=20&c=-RnzwVmgpowhd-C1iGQS30Sd5FrvKCXPxfsCSVR-HSg=">
                </div>
                <div class="col-lg-8 col-sm-120">
                    <h5>@r.name</h5>
                    <p>@string.Format("€ {0:N2} Euro", r.price)</p>
                    <p>@r.startPickup.ToString("MMMM dd")</p>
                    <p>@r.city - @r.cantine.location</p>
                </div>
                <div class="col-lg-2 col-sm-12 my-auto text-center">
                    <button class="btn-default">Check</button>
                </div>
            </div>
        </div>
    }
</div>